################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/registration/registration.sln
/registration/registration.pyproj
/registration/.vs/registration/v16/.suo
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/python-projects/v16/.suo
